* {
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 90px;
  padding-left: 80px;
  padding-right: 80px;
}
.socail-icons {
  display: flex;
  justify-content: space-around;
  width: 15%;
  gap: 5px;
}
li {
  list-style: none;
}
.socail-icons li {
  width: 25px;
  height: 27px;
  border-radius: 60px;
  background-color: rgba(226, 224, 224, 0.51);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 17px;
}
.socail-icons li:hover {
  background-color: #4e9525;
  color: white;
}
i {
  font-size: 15px;
}
header a {
  text-decoration: none;
  font-weight: 1000;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 30px;
  margin-left: 100px;
  margin-right: 0;
  margin-bottom: 10px;
}
a span {
  color: #4e9525;
  text-align: center;
}
.search {
  display: flex;
  align-items: center;
}
.search input {
  outline: none;
  border: none;
  background-color: rgba(226, 224, 224, 0.51);
  border-radius: 50px;
  padding: 18px 63px;
  padding-left: 17px;
}
/*.search input ::placeholder{
  color: black;
}  important*/
.search li {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #4e9525;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.home {
  color: #fbd341;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 290px;
  align-items: center;
  background-color: #5fa432;
  color: white;
}
.navbar li {
  width: 30%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 550;
  font-family: sans-serif;
}
.navbar li:hover {
  text-decoration: underline;
  text-underline-offset: 170%;
  color: #fbd341;
}
.image {
  width: 100%;
  height: 100vh;
  background-image: url('./assets/bg_1.jpg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.color{
  background-color: rgba(0, 0, 0, 0.397);
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 6%;
}
h2 {
  color: #fbd341;
  font-size: medium;
  font-family: sans-serif;
}
h1 {
  color: white;
  width: 100vh;
  font-family: sans-serif;
  font-size: 60px;
  margin-top: 15px;
}
.color p {
  color: #b6b6b6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  margin-top: 15px;
}
.color button {
  background-color: #5fa432;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  font-family: sans-serif;
  padding: 15px 32px;
  margin-top: 20px;
}
.color a {
  text-decoration: none;
}
